  
           <div layout="row" layout-gt-md="row" layout-gt-sm="column" layout-gt-xs="column">
          <div  flex-gt-md="40"  flex>
              <md-card>
              <md-card-title>Attribution
              <!--<select class="atributeSelect">
                <option>FIRST INTERACTION</option>
                <option>LAST INTERACTION</option>
                <option>ASSIGNED</option>
                <option>LENIER</option>
                <option>TIME DELAY</option></select>-->
               </md-card-title>
              <md-card-subtitle>Click to explore by segment</md-card-subtitle>

              <md-divider></md-divider>
                  <div style="display: block">
                  <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [options]="donutoptions"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" class="donutClass"></canvas>
              </div>
              
              <md-card-actions>
                  <a md-button buttonDisableFix color="accent" class="text-upper" [routerLink]="['/users']">
                  <span>View More</span>
                  </a>
              </md-card-actions>
              </md-card>
          </div>
   <div  flex-gt-md="60" flex>
              <md-card>
              <md-card-title>Here are a few insights we thought you might find useful</md-card-title>

              <md-divider></md-divider>
             <insight-overview></insight-overview>
              <md-divider></md-divider>
              <md-card-actions>
                  <a md-button buttonDisableFix color="accent" class="text-upper" [routerLink]="['/users']">
                  <span>View More</span>
                  </a>
              </md-card-actions>
              </md-card>
        </div>
           </div>
       <div layout="column" layout-gt-sm="row">
          <div flex-gt-sm="100">
              <md-card>
            <md-card-title>Top 3 Customer Paths to Purchases</md-card-title>
            <md-card-subtitle>Click on paths to view users sessions</md-card-subtitle>
            <md-divider class="section-divider"></md-divider>
                <customer-path></customer-path>
              
              <md-card-actions>
                  <a md-button buttonDisableFix color="accent" class="text-upper" [routerLink]="['/main/features']">
                  <span>View More</span>
                  </a>
              </md-card-actions>
          </md-card>
        </div>
       </div>
      <div layout="column" layout-gt-xs="row">
          <div flex-gt-xs="40">
              <md-card>
                  <md-card-title>Predicted Customer Chrun <select class="atributeSelect">
                    <option>PLATINUM</option>
                    <option>GOLD</option>
                    </select></md-card-title>
                  <td-charts [margin]="{left:90}"
                          [shadow]="true"
                          fillOpacity="0.75">
                      <td-axis-x [link]="chartArea1" [ticks]="true" [show]="true" [grid]="false"></td-axis-x>
                      <td-axis-y-left [link]="chartArea1" [ticks]="true" [show]="true" [grid]="true"></td-axis-y-left>
                      <td-chart-area #chartArea1 [colors]="['#FF6D00', '#E65100']"
                          dataSrc="data/data.json"
                          bottomAxis="x"
                          columns="y"
                          [transition]="true"
                          transitionDuration="1000"
                          transitionDelay="500">
                      </td-chart-area>
                  </td-charts>
                  <md-card-actions>
                  <a md-button buttonDisableFix color="accent" class="text-upper" [routerLink]="['/users']">
                  <span>View More</span>
                  </a>
              </md-card-actions>
              </md-card>
          </div>
          <div flex-gt-xs="40">
              <md-card>
                  <md-card-title>Top Channels For Customer Aquistion</md-card-title>
                  <td-charts [shadow]="true"
                          fillOpacity="0.95">
                      <td-axis-x [link]="chartBar1" [ticks]="true" [show]="true" [grid]="false"></td-axis-x>
                      <td-axis-y-right [link]="chartBar1" [show]="true" [grid]="true"></td-axis-y-right>
                      <td-chart-bar #chartBar1 [colors]="['blue', 'deepOrange']"
                          [data]="jsonData"
                          [padding]="0.25"
                          bottomAxis="x"
                          columns="y"
                          [transition]="true"
                          transitionDuration="1000"
                          transitionDelay="500">
                      </td-chart-bar>
                  </td-charts>
                  <md-card-actions>
                  <a md-button buttonDisableFix color="accent" class="text-upper" style="text-align-last: right" [routerLink]="['/users']">
                  <span>View More</span>
                  </a>
              </md-card-actions>
              </md-card>
          </div>
  </div>
   <div layout="column" layout-gt-xs="row">
    <div flex-gt-xs="80">
              <md-card>
                  <md-card-title>Customer Sentiment</md-card-title>
                <customer-sentiment></customer-sentiment>
             
                  <md-card-actions>
                  <a md-button buttonDisableFix color="accent" class="text-upper" style="text-align-last: right" [routerLink]="['/users']">
                  <span>View More</span>
                  </a>
              </md-card-actions>
              </md-card>
          </div>
   </div>

  <a md-fab buttonDisableFix color="accent" class="md-fab-position-bottom-right" [routerLink]="['/form']">
      <md-icon>add</md-icon>
  </a>
  <br><br>
